@model Login.Models.Project

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_SideNav.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Project Details</h6>
                </div>

                <div class="card-body">
                    <div>
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                            <dt class="col-sm-4">
                                Number of ticket
                            </dt>
                            <dd class="col-sm-8">
                                @ViewBag.TicketsCount.Count
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.ProjectID">Edit</a>
                        <a class="btn btn-outline-info fa-pull-right" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xl-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">More Info about Project</h6>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-active" id="project-table">
                        <thead>
                            <tr>
                                <th>Developer Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Dev == null)
                            {
                                <p>No developer attached to project</p>
                            }
                            else
                            {
                                @foreach (var developer in ViewBag.Dev)
                                {
                                    <tr>
                                        <td>@developer</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Tickets associated with this project</h6>
                </div>
                <div class="card-body">
                    <table class="table table-bordered" id="project-table">
                        <thead>
                            <tr>
                                <th>Ticket Number</th>
                                <th>Title</th>
                                <th>Priority</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.TicketsList == null)
                            {
                                <p>No ticket is assigned in this project</p>
                            }
                            else
                            {
                                @foreach (var ticket in ViewBag.TicketsList)
                                {
                                    <tr>
                                        <td>@ticket.Id</td>
                                        <td>@ticket.Title</td>
                                        <td>@ticket.TicketPriority</td>
                                        <td>@ticket.Type</td>
                                        <td>
                                            <div>
                                                <a class="fas fa-edit btn btn-outline-primary" asp-action="Edit" asp-controller="Tickets" asp-route-id="@ticket.Id"></a>
                                                <a class="fas fa-info-circle btn btn-outline-info" asp-action="Detail" asp-controller="Tickets" asp-route-id="@ticket.Id"></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

@section Scripts{
    <script type="text/javascript">
        var ticketTable = document.getElementById("project-table");
        console.log(ticketTable);

        $(document).ready(function () {
            $('#project-table').DataTable();
        });
    </script>
}
